<?xml version="1.0" encoding="utf-8"?>
<manifest
	package="org.crazyit.auction.client"
	xmlns:android="http://schemas.android.com/apk/res/android"
	android:versionCode="1"
	android:versionName="1.0">
	<!-- 授权访问网络 -->
	<uses-permission android:name="android.permission.INTERNET"/>
	<application
		android:allowBackup="true"
		android:icon="@drawable/ic_launcher"
		android:label="@string/app_name"
		android:theme="@style/AppTheme">
		<activity
			android:name=".Login"
			android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>
		<activity
			android:name=".AuctionClientActivity"
			android:label="@string/app_name">
		</activity>
		<activity
			android:name=".ViewItem"
			android:label="@string/app_name">
		</activity>
		<activity
			android:name=".ManageKind"
			android:label="@string/manage_kind">
		</activity>
		<activity
			android:name=".AddKind"
			android:label="@string/add_kind_title">
		</activity>
		<activity
			android:name=".ManageItem"
			android:label="@string/manage_item">
		</activity>
		<activity
			android:name=".AddItem"
			android:label="@string/add_item_title">
		</activity>
		<activity
			android:name=".ViewBid"
			android:label="@string/view_bid">
		</activity>
		<activity
			android:name=".ChooseKind"
			android:label="@string/choose_kind">
		</activity>
		<activity
			android:name=".ChooseItem"
			android:label="@string/app_name">
		</activity>
		<activity
			android:name=".AddBid"
			android:label="@string/item_detail_title">
		</activity>
	</application>
</manifest>