<manifest xmlns:android="http://schemas.android.com/apk/res/android"
		  package="org.crazyit.broadcast" >

	<application
		android:allowBackup="true"
		android:theme="@style/AppTheme" >
		<activity android:name=".MainActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<receiver android:name="SmsReceiver">
			<intent-filter android:priority="1000">
				<action android:name="android.provider.Telephony.SMS_RECEIVED" />
			</intent-filter>
		</receiver>

	</application>
	<!-- 授予程序接收短信的权限 -->
	<uses-permission android:name="android.permission.RECEIVE_SMS"/>

</manifest>